@font-face {
    font-family: 'Gilroy';
    src: url('Tschichold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Tschichold-Alt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Tschichold-Alt-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
